.ready {
    padding: 38px 0 0;
    background: $hblue url('../img/backgrounds/ready/ready-bg.jpg') no-repeat center;
    background-size: cover;
    @media (max-width: 1180px) {
        padding: 25px 0 0;
    }
    &--solo {
        .filter {
            box-shadow: none;
        }
        .ready-filter {
            margin-top: 0;
            .filter {
                transform: translateY(0);
            }
        }
    }
    &__title {
        color: $white;
        margin-bottom: 10px;
        text-align: center;
    }
    &__subtitle {
        margin-bottom: 28px;
        color: #D3E9FF;
    }
    &-filter {
        width: 996px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        margin-top: -133px;
        @media (max-width: 1180px) {
            margin-top: -306px;
            width: calc(100vw - 30px);
        }
        .filter {
            border-radius: 2px 2px 0 0;
            transform: translateY(133px);
            @media (max-width: 1180px) {
                transform: translateY(306px);
            }
            &-advantages {
                transform: translateY(133px);
                @media (max-width: 1180px) {
                    transform: translateY(306px);
                }
            }
        }
    }
}