.filter {
    padding: 40px 40px 25px;
    background-color: $white;
    box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.11);
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    @media (max-width: 1180px) {
        padding: 25px 15px 20px;
    }
    &-input-module {
        width: 100%;
        margin-bottom: 28px;
        @media (max-width: 630px) {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &--halfed {
            width: calc(50% - 10px);
            margin-right: 20px;
            @media (max-width: 630px) {
                margin-right: 0;
                width: 100%;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
        &--size {
            .input-module__input {
                width: calc(100% - 210px);
                @media (max-width: 1180px) {
                    width: calc(100% - 130px);
                }
                @media (max-width: 630px) {
                    width: calc(100% - 120px);
                }
            }
            .choices {
                min-width: 210px;
                max-width: 210px;
                @media (max-width: 1180px) {
                    min-width: 130px;
                    max-width: 130px;
                }
                @media (max-width: 630px) {
                    min-width: 120px;
                    max-width: 120px;
                }
            }
        }
        &--last {
            margin-bottom: 14px;
        }
    }
    &-promocode {
        display: flex;
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        @media (max-width: 630px) {
            min-height: 30px;
            margin: -5px 0 15px;
            &.is-opened {
                margin: 0 0 20px;
                button {
                    display: none;
                }
                input {
                    display: block;
                    padding: 0 20px;
                    text-align: center;
                }
            }
        }
        &__input {
            width: 100%;
            height: 50px;
            padding: 0 20px 0 180px;
            border: 1px solid $blue;
            border-radius: 2px;
            background-color: $white;
            font-size: rem(13);
            color: $black;
            transition: border-color $trans;
            @media (max-width: 630px) {
                display: none;
            }
            &::placeholder {
                color: $black;
            }
            &:focus {
                outline: none;
                border-color: $hblue;
                transition: border-color $trans;
            }
        }
        &__btn {
            position: absolute;
            cursor: pointer;
            left: 1px;
            top: 1px;
            bottom: 1px;
            width: 160px;
            background-color: $blue;
            border-radius: 1px 0 0 1px;
            font-weight: 500;
            font-size: rem(10);
            text-transform: uppercase;
            text-align: center;
            color: $white;
            transition: background-color $trans;
            @media (max-width: 630px) {
                width: 100%;
                height: 30px;
            }
            &:hover {
                background-color: $hblue;
                transition: background-color $trans;
            }
        }
    }
    &__submit {
        margin: 0 auto 24px;
        @media (max-width: 630px) {
            margin-bottom: 15px;
        }
    }
    &__note {
        text-align: center;
        font-size: rem(12);
        line-height: lh(14, 12);
        text-align: center;
        color: $tblack;
        width: 100%;
        &-mail {
            text-decoration: underline;
            color: $hblue;
            transition: filter $trans;
            &:hover {
                filter: brightness(1.2);
                transition: filter $trans;
            }
        }
        &-more {
            text-decoration: underline;
            color: $green;
            margin-left: 2px;
            transition: filter $trans;
            &:hover {
                filter: brightness(0.9);
                transition: filter $trans;
            }
        }
    }
}

.filter-advantages {
    display: flex;
    background: $white;
    box-shadow: 0px 11px 40px rgba(0, 0, 0, 0.11);
    border-radius: 0px 0px 2px 2px;
    @media (max-width: 1180px) {
        flex-wrap: wrap;
    }
    &__item {
        width: 33.33%;
        display: flex;
        padding: 35px 0 35px 30px;
        border-right: 1px solid #EBEDF3;
        @media (max-width: 1180px) {
            width: 100%;
            hyphens: auto;
            padding: 20px 20px 15px 18px;
            height: 102px;
        }
        &:nth-child(2) {
            background-color: #F4F5F9;
        }
        &:last-child {
            border-right: 0;
        }
        &-illstr {
            width: 58px;
            .icon {
                fill: $gray;
                &-f-adv {
                    &-1 {
                        width: 39px;
                        height: 48px;
                    }
                    &-2 {
                        width: 40px;
                        height: 50px;
                    }
                    &-3 {
                        width: 52px;
                        height: 47px;
                    }
                }
                &-authors-w {
                    &-1 {
                        width: 39px;
                        height: 48px;
                    }
                    &-2 {
                        width: 49px;
                        height: 49px;
                    }
                    &-3 {
                        width: 52px;
                        height: 47px;
                    }
                }
            }
        }
        &-text {
            width: calc(100% - 58px);
            @media (max-width: 1180px) {
                br {
                    display: none;
                }
            }
            span {
                display: block;
                &:nth-child(1) {
                    font-weight: bold;
                    font-size: rem(13);
                    line-height: 163%;
                    text-transform: uppercase;
                    color: $black;
                    margin-bottom: 6px;
                }
                &:nth-child(2) {
                    font-size: rem(13);
                    line-height: lh(19, 13);
                    color: $gray;
                    @media (max-width: 630px) {
                        font-size: rem(12);
                    }
                }
            }
        }
    }
}