/** css vars **/

:root {
    --yellow: #FEB64A;
    --blue: #75B7F3;
    --heavy-blue: #2281E2;
    --green: #8AD377;
    --white: #fff;
    --black: #292934;
    --real-black: #000;
    --black-text: #2A2A2F;
    --red: #CD2342;
    --gray: #707478;
    --border-blue: #D1DEE9;
    --light-bg: #F2F6F9;
    --transition-speed: .275s;
    --transition-timing-function: ease;
}


/** sass vars **/

$yellow: var(--yellow);
$blue: var(--blue);
$hblue: var(--heavy-blue);
$green: var(--green);
$white: var(--white);
$black: var(--black);
$rblack: var(--real-black);
$tblack: var(--black-text);
$red: var(--red);
$gray: var(--gray);
$border: var(--border-blue);
$lbg: var(--light-bg);
$trans: var(--transition-speed) var(--transition-timing-function);