.why {
    background-color: #F1F5FA;
    padding: 38px 0 49px;
    @media (max-width: 1180px) {
        padding: 25px 0 45px;
    }
    &--only-text {
        padding: 25px 0 43px;
        background-color: $white;
        .why__title--second,
        .why-list {
            display: none;
        }
        @media (max-width: 1180px) {
            padding: 10px 0 20px;
            .why__title--second,
            .why-list {
                display: flex;
            }
        }
    }
    &__title {
        margin-bottom: 16px;
        @media (max-width: 1180px) {
            margin-bottom: 10px;
        }
        @media (max-width: 630px) {
            br {
                display: none;
            }
        }
        &--second {
            margin-bottom: 30px;
            @media (max-width: 1180px) {
                margin-bottom: 15px;
            }
        }
    }
    &-text {
        margin-bottom: 32px;
        @media (max-width: 1180px) {
            margin-bottom: 10px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @media (max-width: 1180px) {
                flex-wrap: wrap;
            }
            li {
                width: calc(50% - 18px);
                @media (max-width: 1180px) {
                    width: 100%;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                p {
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        &__item {
            width: calc(25% - 15px);
            margin-right: 20px;
            margin-bottom: 20px;
            @media (max-width: 1180px) {
                width: calc(50% - 8px);
                margin-right: 16px;
                margin-bottom: 16px;
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
            @media (max-width: 630px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 24px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
            .icon {
                margin-bottom: 17px;
                fill: #4D9D38;
                @media (max-width: 630px) {
                    margin-bottom: 10px;
                }
                &-w {
                    &-1 {
                        width: 43px;
                        height: 43px;
                    }
                    &-2 {
                        width: 34px;
                        height: 43px;
                    }
                    &-3 {
                        width: 44px;
                        height: 37px;
                        margin-bottom: 20px;
                    }
                    &-4 {
                        width: 40px;
                        height: 43px;
                    }
                }
            }
            &-text {
                font-size: rem(15);
                line-height: lh(25, 15);
                color: $rblack;
                @media (max-width: 630px) {
                    font-size: rem(14);
                }
            }
        }
    }
}