.order {
    padding: 17px 0 0;
    background-color: #F4F7FB;
    &__title {
        margin-bottom: 15px;
        @media (max-width: 1180px) {
            margin-bottom: 10px;
        }
    }
    &__subtitle {
        margin-bottom: 45px;
        @media (max-width: 1180px) {
            margin-bottom: 35px;
        }
    }
    &-filter {
        width: 996px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        @media (max-width: 1180px) {
            max-width: calc(100vw - 30px);
        }
        .filter {
            border-radius: 2px 2px 0 0;
            &-advantages {
                position: relative;
                z-index: 3;
                margin-bottom: -133px;
                @media (max-width: 1180px) {
                    margin-bottom: -306px;
                }
            }
        }
    }
}