.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    height: 88px;
    background-color: $white;
    border-bottom: 1px solid $border;
    transition: background-color $trans;
    @media (max-width: 1180px) {
        height: 46px;
    }
    &-wrap {
        display: flex;
        align-items: center;
        height: 100%;
        @media (max-width: 1180px) {
            justify-content: space-between;
        }
    }
    &__burger {
        display: none;
        width: 46px;
        height: 46px;
        background-color: $blue;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
        cursor: pointer;
        span {
            width: 16px;
            height: 2px;
            background-color: $white;
            margin-bottom: 2px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media (max-width: 1180px) {
            display: flex;
        }
    }
    &--login {
        background-color: transparent;
        border: none;
        position: absolute;
        .header {
            &-nav {
                margin: 0;
                &-list {
                    &__item {
                        color: $white;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
            &__tel {
                margin-left: auto;
                @media (max-width: 1180px) {
                    display: flex;
                    right: 18px;
                    left: auto;
                    position: absolute;
                }
                span {
                    color: $white;
                    @media (max-width: 1180px) {
                        color: $white !important;
                    }
                }
                .icon-phone {
                    fill: rgba(255, 255, 255, 0.19);
                    @media (max-width: 1180px) {
                        fill: rgba(255, 255, 255, 0.2);
                    }
                }
                &:hover .icon-phone {
                    fill: $white;
                }
            }
        }
    }
    &__logo {
        transition: filter $trans;
        &:hover {
            filter: brightness(.9);
            transition: filter $trans;
        }
        .icon-logo {
            width: 168px;
            height: 32px;
            fill: $black;
            @media (max-width: 1180px) {
                width: 130px;
                height: 25px;
            }
        }
    }
    &-nav {
        margin: 0 auto;
        @media (max-width: 1180px) {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $white;
            z-index: 50;
            padding-top: 46px;
        }
        &-list {
            display: flex;
            @media (max-width: 1180px) {
                flex-direction: column;
            }
            &__item {
                margin-right: 45px;
                font-weight: bold;
                font-size: rem(11);
                text-transform: uppercase;
                color: $black;
                transition: color $trans;
                position: relative;
                @media (max-width: 1180px) {
                    color: $black !important;
                    height: 40px;
                    margin-right: 0;
                    border-bottom: 1px solid #e4eaf0;
                    &:first-child {
                        border-top: 1px solid #e4eaf0;
                    }
                    a {
                        height: 100%;
                        width: 100%;
                        padding: 0 33px;
                        display: flex;
                        align-items: center;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                &:after {
                    content: '';
                    position: absolute;
                    left: -5px;
                    right: -5px;
                    top: calc(100% + 34px);
                    height: 1px;
                    background-color: transparent;
                    transition: background-color $trans;
                    @media (max-width: 1180px) {
                        display: none;
                    }
                }
                &:hover,
                &.is-active {
                    color: #E98D44;
                    transition: color $trans;
                    @media (max-width: 1180px) {
                        background-color: $hblue;
                        color: $white !important;
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            left: 33px;
                            top: 50%;
                            transform: translateY(-60%);
                            width: 11px;
                            height: 8px;
                            background: url('../img/svg/arrow--small.svg') no-repeat center;
                            background-size: 100% 100%;
                        }
                        a {
                            transform: translateX(19px);
                        }
                    }
                    &:after {
                        background-color: #E98D44;
                        transition: background-color $trans;
                    }
                }
            }
        }
    }
    &__auth {
        margin-right: 46px;
        @media (max-width: 1180px) {
            margin-right: 0;
        }
    }
    &__tel {
        display: flex;
        align-items: center;
        @media (max-width: 1180px) {
            display: none;
            position: fixed;
            left: 33px;
            z-index: 51;
            top: 15px;
        }
        .icon-phone {
            margin-right: 11px;
            width: 17px;
            height: 17px;
            fill: rgba(17, 23, 37, 0.19);
            transition: fill $trans;
            @media (max-width: 1180px) {
                fill: $blue !important;
            }
        }
        span {
            font-weight: 500;
            font-size: rem(17);
            color: $tblack;
            @media (max-width: 1180px) {
                color: $black !important;
            }
        }
        &:hover .icon {
            fill: $black;
            transition: fill $trans;
        }
    }
    &.is-transparent {
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.1);
        @media (max-width: 1180px) {
            background-color: $white;
        }
        .header {
            &__logo {
                .icon-logo {
                    fill: $white;
                    @media (max-width: 1180px) {
                        fill: $black;
                    }
                }
            }
            &-nav-list__item {
                color: #D0DBE8;
                &:hover,
                &.is-active {
                    color: $white;
                }
            }
            &__auth {
                span {
                    color: $white;
                    border-color: rgba(255, 255, 255, 0.25);
                }
            }
            &__tel {
                .icon-phone {
                    fill: rgba(255, 255, 255, 0.49);
                }
                span {
                    color: $white;
                }
                &:hover .icon-phone {
                    fill: $white;
                }
            }
        }
    }
}

body.mobile-menu-opened {
    @media (max-width: 1180px) {
        overflow: hidden;
        .header {
            &-nav {
                display: block;
            }
            &__tel {
                display: block;
            }
            &__burger {
                position: fixed;
                top: 0;
                right: 0;
                z-index: 51;
                background-color: $green;
                span {
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(1) {
                        transform: translateY(2px) rotate(45deg);
                    }
                    &:nth-child(3) {
                        transform: translateY(-2px) rotate(-45deg);
                    }
                }
            }
            &--login .header__tel {
                display: none;
            }
        }
    }
}