.services {
    padding: 10px 0 47px;
    background: #F4F7FB;
    @media (max-width: 630px) {
        padding: 30px 0;
    }
    &__title {
        margin-bottom: 10px;
    }
    &__subtitle {
        margin-bottom: 25px;
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px 20px;
        @media (max-width: 630px) {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        &__item {
            padding: 18px 25px 28px;
            justify-content: space-between;
            background: $white;
            border: 1px solid rgba(0, 0, 0, 0.08);
            box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.03);
            border-radius: 8px;
            transition: transform $trans;
            @media (max-width: 630px) {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &:hover {
                transform: translateY(-6px);
                transition: transform $trans;
                .services-list__item-logo .icon-logo-part {
                    fill: $blue;
                    transition: fill $trans;
                }
            }
            &-logo {
                margin-bottom: 13px;
                @media (max-width: 630px) {
                    margin-bottom: 8px;
                }
                .icon-logo-part {
                    width: 24px;
                    height: 22px;
                    fill: rgba(111, 122, 135, 0.39);
                    transition: fill $trans;
                }
            }
            &-name {
                font-size: rem(18);
                line-height: lh(27, 18);
                color: $black;
                margin-bottom: 1px;
            }
            &-dur {
                margin: 0 0 12px;
                font-size: rem(14);
                line-height: lh(22, 14);
                color: $gray;
                &-num {
                    color: $black;
                }
            }
            &-price {
                margin-bottom: 19px;
                font-size: rem(14);
                line-height: lh(22, 14);
                color: #4D9D38;
                &-num {
                    font-size: rem(19);
                    font-weight: 500;
                }
            }
            &-descr {
                margin-bottom: 25px;
                font-size: rem(13);
                line-height: lh(22, 13);
                color: $gray;
                @media (max-width: 630px) {
                    display: none;
                }
            }
        }
        .banner {
            grid-column: 1 / span 2;
            @media (max-width: 630px) {
                grid-column: unset;
                margin-bottom: 15px;
            }
        }
    }
    &__pagination {
        margin-top: 48px;
        @media (max-width: 630px) {
            margin-top: 22px;
        }
    }
}