.how {
    background: $hblue url('../img/backgrounds/how/how-bg.jpg') no-repeat center;
    background-size: auto 100%;
    padding: 38px 0 37px;
    @media (max-width: 630px) {
        padding: 25px 0 35px;
    }
    &__title {
        text-align: center;
        margin-bottom: 10px;
        color: $white;
    }
    &__subtitle {
        margin-bottom: 40px;
        color: $white;
        @media (max-width: 630px) {
            margin-bottom: 25px;
        }
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        &__item {
            width: calc(25% - 15px);
            margin-right: 20px;
            margin-bottom: 20px;
            background-color: $white;
            box-shadow: 0px 6px 27px rgba(0, 0, 0, 0.16);
            border-radius: 8px;
            position: relative;
            padding: 82px 28px 15px;
            @media (max-width: 1180px) {
                width: calc(50% - 8px);
                margin-right: 16px;
                margin-bottom: 16px;
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
            @media (max-width: 630px) {
                width: 100%;
                margin-bottom: 15px;
                margin-right: 0;
                min-height: 213px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-number {
                position: absolute;
                top: 13px;
                right: 10px;
                .icon {
                    fill: #B7C1CB;
                    width: 31px;
                    height: 21px;
                    &-h-number-1 {
                        width: 27px;
                    }
                }
            }
            &-icon {
                position: absolute;
                left: 28px;
                top: 17px;
                .icon {
                    fill: #E98D44;
                    &-h-icon {
                        &-1 {
                            width: 42px;
                            height: 50px;
                        }
                        &-2 {
                            width: 52px;
                            height: 43px;
                            margin-top: 4px;
                        }
                        &-3 {
                            width: 45px;
                            height: 43px;
                            margin-top: 4px;
                        }
                        &-4 {
                            width: 32px;
                            height: 43px;
                            margin-top: 4px;
                        }
                    }
                }
            }
            &-title {
                font-weight: bold;
                line-height: lh(19, 16);
                margin-bottom: 7px;
                color: $black;
            }
            &-text {
                font-size: rem(13);
                line-height: lh(22, 13);
                color: #393C43;
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}