.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 80px;
    @media (max-width: 630px) {
        padding: 25px 0 40px;
    }
    &--only-slider {
        padding: 30px 0 25px;
        @media (max-width: 630px) {
            padding: 30px 0 15px;
        }
        .reviews-slider {
            padding-bottom: 25px;
            @media (max-width: 1180px) {
                padding-bottom: 15px;
            }
        }
        &-another {
            padding: 180px 0 40px;
            @media (max-width: 1180px) {
                padding: 336px 0 25px;
            }
            @media (max-width: 630px) {
                padding: 336px 0 25px;
            }
        }
    }
    &__title {
        margin-bottom: 10px;
        &--second {
            margin-bottom: 10px;
        }
    }
    &__subtitle {
        &--second {
            margin-bottom: 20px;
        }
    }
    &-item {
        background-color: $white;
        box-shadow: 0px 0px 22px rgba(13, 14, 15, 0.08);
        border-radius: 5px;
        position: relative;
        padding: 25px 30px 33px;
        width: 380px;
        @media (max-width: 630px) {
            width: 290px;
            padding: 15px;
        }
        &__avatar {
            position: absolute;
            top: 14px;
            right: 21px;
            @media (max-width: 630px) {
                right: 15px;
            }
        }
        &__author {
            padding-right: 60px;
            margin-bottom: 6px;
            font-weight: bold;
            font-size: rem(21);
            line-height: lh(22, 21);
            color: $black;
            @media (max-width: 630px) {
                font-size: rem(16px);
            }
        }
        &-rate {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            @media (max-width: 630px) {
                margin-bottom: 17px;
            }
            &__text {
                margin-left: 8px;
                font-weight: 500;
                font-size: rem(12);
                line-height: lh(22, 12);
                color: $gray;
            }
        }
        &__text {
            font-size: rem(14);
            line-height: lh(22, 14);
            color: #3A3A41;
            overflow: hidden;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
    }
    &-slider {
        overflow: hidden;
        width: 100vw;
        padding: 35px 0 40px;
        @media (max-width: 630px) {
            padding: 25px 0 30px;
        }
        &-controls {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            @media (max-width: 630px) {
                margin-top: 25px;
            }
            .btn-rounded--prev {
                margin-right: 28px;
            }
        }
    }
    &-video {
        width: 871px;
        height: 558px;
        border: 18px solid #E3E7EA;
        box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        position: relative;
        background-color: #E3E7EA;
        overflow: hidden;
        @media (max-width: 1180px) {
            max-width: calc(100% - 30px);
            max-height: calc((100vw - 30px) * 0.64);
            border-width: 5px;
        }
        &__title {
            position: absolute;
            top: 23px;
            left: 27px;
            right: 27px;
            font-weight: 500;
            font-size: rem(18);
            line-height: lh(21, 18);
            color: $white;
            @media (max-width: 630px) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                left: 15px;
                top: 15px;
                right: 15px;
                font-size: rem(14);
            }
        }
        &__preview {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__link {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(calc(-50% - 4px), -50%);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: $blue;
            @media (max-width: 630px) {
                width: 37px;
                height: 37px;
            }
        }
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(calc(-50% - 23px), -50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20.5px 0 20.5px 36px;
            border-color: transparent transparent transparent $white;
            @media (max-width: 630px) {
                border-width: 10px 0 10px 18px;
                transform: translate(calc(-50% - 18px), -50%);
            }
        }
    }
}