.footer {
    &-top {
        background-color: $white;
        border-top: 1px solid $border;
        height: 75px;
        @media (max-width: 630px) {
            height: unset;
            padding: 20px 0;
        }
        &-wrap {
            display: flex;
            align-items: center;
            height: 100%;
            @media (max-width: 630px) {
                flex-direction: column;
            }
        }
        &__tel {
            display: flex;
            align-items: center;
            @media (max-width: 630px) {
                margin-bottom: 10px;
            }
            .icon-phone {
                margin-right: 11px;
                width: 17px;
                height: 17px;
                fill: rgba(17, 23, 37, 0.19);
                transition: fill $trans;
            }
            span {
                font-weight: 500;
                font-size: rem(17);
                color: $tblack;
            }
            &:hover .icon {
                fill: $black;
                transition: fill $trans;
            }
        }
        &__callback {
            margin-left: 16px;
            @media (max-width: 1180px) {
                display: none;
            }
        }
        &-mail {
            margin-left: auto;
            display: flex;
            align-items: center;
            @media (max-width: 630px) {
                flex-direction: column;
                margin-left: 0;
            }
            &__text {
                font-weight: 500;
                font-size: rem(14);
                color: $gray;
                margin-right: 14px;
                @media (max-width: 630px) {
                    margin-bottom: 6px;
                    margin-right: 0;
                }
            }
            &__address {
                display: flex;
                align-items: center;
                .icon-mail {
                    width: 16px;
                    height: 11px;
                    fill: #D2D6DF;
                    margin-right: 9px;
                    transition: fill $trans;
                }
                span {
                    font-weight: 500;
                    font-size: rem(18);
                    color: $black;
                }
                &:hover .icon-mail {
                    fill: $black;
                    transition: fill $trans;
                }
            }
        }
    }
    &-main {
        height: 96px;
        background-color: #222230;
        @media (max-width: 1180px) {
            height: unset;
            padding: 20px 0 25px;
        }
        &-wrap {
            display: flex;
            align-items: center;
            height: 100%;
            @media (max-width: 1180px) {
                flex-direction: column;
            }
        }
        &__logo {
            .icon-logo-white {
                width: 168px;
                height: 32px;
            }
        }
        &-nav {
            margin: 0 35px 0 54px;
            flex-grow: 1;
            @media (max-width: 1180px) {
                margin: 15px 0;
            }
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media (max-width: 1180px) {
                    flex-direction: column;
                    justify-content: unset;
                }
                &__item {
                    font-weight: bold;
                    font-size: rem(11);
                    text-transform: uppercase;
                    color: $white;
                    position: relative;
                    transition: color $trans;
                    @media (max-width: 1180px) {
                        margin-bottom: 5px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        left: -5px;
                        right: -5px;
                        top: calc(100% + 38px);
                        height: 1px;
                        background-color: transparent;
                        transition: background-color $trans;
                    }
                    &:hover {
                        color: $blue;
                        transition: color $trans;
                        &:after {
                            background-color: $blue;
                            transition: background-color $trans;
                        }
                    }
                }
            }
        }
        &-socials {
            display: flex;
            align-items: center;
            &__link {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                width: 37px;
                height: 37px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.07);
                border: 1px solid rgba(255, 255, 255, 0.25);
                transition: border-color $trans;
                .icon {
                    fill: rgba(255, 255, 255, 0.36);
                    transition: fill $trans;
                    &-vk {
                        width: 16px;
                        height: 9px;
                    }
                    &-inst {
                        width: 15px;
                        height: 15px;
                    }
                    &-fb {
                        width: 7px;
                        height: 13px;
                    }
                    &-yt {
                        width: 15px;
                        height: 11px;
                    }
                }
                &:hover {
                    border-color: $white;
                    transition: border-color $trans;
                    .icon {
                        fill: $white;
                        transition: fill $trans;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &-bottom {
        height: 46px;
        background-color: $black;
        @media (max-width: 630px) {
            height: unset;
            padding: 10px 0;
            text-align: center;
        }
        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            @media (max-width: 630px) {
                flex-direction: column;
                justify-content: unset;
            }
        }
        &__copyrights {
            font-size: rem(13);
            color: #A8A8A9;
            @media (max-width: 630px) {
                margin-bottom: 10px;
            }
        }
        &__privacy {
            font-size: rem(13);
            text-decoration-line: underline;
            color: #747A80;
            &:hover {
                color: $white;
            }
        }
    }
}