.blog {
    padding: 17px 0 37px;
    background: #F4F7FB;
    @media (max-width: 630px) {
        padding: 30px 0;
    }
    &__title {
        margin-bottom: 33px;
        @media (max-width: 1180px) {
            margin-bottom: 22px;
        }
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        @media (max-width: 1180px) {
            display: flex;
            flex-wrap: wrap;
            gap: 0 15px;
        }
        @media (max-width: 560px) {
            gap: 0;
        }
        .banner {
            grid-column: 1 / span 4;
            @media (max-width: 1180px) {
                grid-column: unset;
                width: 100%;
                margin-bottom: 15px;
            }
        }
        &__item {
            display: flex;
            flex-direction: column;
            position: relative;
            background: $white;
            border-radius: 2px;
            overflow: hidden;
            padding: 0 20px 55px;
            cursor: pointer;
            @media (max-width: 1180px) {
                width: calc(33.33% - 10px);
                margin-bottom: 15px;
            }
            @media (max-width: 730px) {
                width: calc(50% - 8px);
            }
            @media (max-width: 560px) {
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-label {
                position: absolute;
                z-index: 2;
                top: 20px;
                left: 20px;
                height: 27px;
                padding: 0 21px;
                display: inline-flex;
                align-items: center;
                background-color: $blue;
                font-weight: 500;
                font-size: rem(10);
                text-transform: uppercase;
                color: $white;
            }
            &-title {
                font-weight: 500;
                font-size: rem(17);
                line-height: lh(22, 17);
                color: $tblack;
                overflow: hidden;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                margin-bottom: 10px;
                transition: color $trans;
            }
            &-photo {
                width: calc(100% + 40px);
                margin: 0 -20px 20px;
                height: 180px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform $trans;
                }
            }
            &-date {
                position: absolute;
                z-index: 1;
                left: 22px;
                bottom: 16px;
                font-size: rem(12);
                color: $gray;
            }
            &-descr {
                font-size: rem(13);
                line-height: lh(19, 13);
                color: #4A4A50;
                overflow: hidden;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
            }
            &-top {
                padding: 0;
                @media (max-width: 560px) {
                    min-height: 340px;
                }
                .blog-list__item {
                    &-date {
                        top: 24px;
                        right: 20px;
                        left: auto;
                        bottom: auto;
                        color: $white;
                        z-index: 2;
                    }
                    &-photo {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        margin: 0;
                        &:before {
                            content: '';
                            position: absolute;
                            z-index: 1;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(360deg, rgba(18, 50, 82, 0.87) 19.54%, rgba(13, 38, 64, 0.29) 100%);
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    &-title {
                        position: absolute;
                        z-index: 2;
                        height: 40px;
                        left: 20px;
                        right: 20px;
                        bottom: 20px;
                        color: $white !important;
                    }
                }
            }
            &:hover {
                .blog-list__item {
                    &-photo {
                        img {
                            transform: scale(1.05) rotate(1deg);
                            transition: transform $trans;
                        }
                    }
                    &-title {
                        color: $hblue;
                        transition: color $trans;
                    }
                }
            }
        }
        &-articles {
            display: flex;
            flex-direction: column;
            @media (max-width: 1180px) {
                display: none;
            }
            .blog-list__item {
                height: calc(33.33% - 14px);
                padding: 8px 20px 0;
                margin-bottom: 21px;
                &:last-child {
                    margin-bottom: 0;
                }
                &-title {
                    height: 60px;
                    display: flex;
                    align-items: center;
                }
                &-date {
                    bottom: 10px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__pagination {
        margin-top: 35px;
        @media (max-width: 1180px) {
            margin-top: 9px;
        }
        @media (max-width: 560px) {
            margin-top: 24px;
        }
    }
}

.blog-simillar {
    padding: 35px 0 20px;
    background-color: $white;
    @media (max-width: 1180px) {
        background-color: #F4F7FB;
        padding: 0 0 30px;
    }
    &__title {
        margin-bottom: 38px;
        @media (max-width: 1180px) {
            margin-bottom: 15px;
        }
    }
    &-slider {
        padding-bottom: 20px;
        overflow: hidden;
        .blog-list__item {
            padding-left: 0;
            padding-right: 0;
            @media (max-width: 1180px) {
                width: 290px;
                padding: 0 15px 50px;
            }
            &-date {
                left: 0;
                @media (max-width: 1180px) {
                    left: 15px;
                }
            }
            &-photo {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                @media (max-width: 1180px) {
                    width: calc(100% + 30px);
                    margin-left: -15px;
                    margin-right: -15px;
                }
            }
        }
        &-controls {
            display: flex;
            justify-content: center;
            margin-top: 45px;
            @media (max-width: 1180px) {
                margin-top: 24px;
            }
        }
        &__prev {
            margin-right: 28px;
        }
    }
}