.authors {
    &-welcome {
        background: $hblue url('../img/backgrounds/authors/authors-welcome-bg.png') no-repeat center;
        background-size: cover;
        padding-top: 50px;
        @media (max-width: 1180px) {
            padding-top: 20px;
        }
        &__title {
            text-align: center;
            margin-bottom: 20px;
            color: $white;
            @media (max-width: 1180px) {
                margin-bottom: 10px;
            }
        }
        &__subtitle {
            margin-bottom: 40px;
            font-weight: 300;
            font-size: rem(28);
            color: $white;
            text-align: center;
            @media (max-width: 1180px) {
                margin-bottom: 25px;
                font-size: rem(18);
            }
        }
        &-filter {
            width: 996px;
            margin: 0 auto;
            @media (max-width: 1180px) {
                max-width: calc(100vw - 30px);
            }
            &-form {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 35px 28px 40px;
                background: $white;
                box-sizing: border-box;
                border-radius: 2px 2px 0 0;
                @media (max-width: 1180px) {
                    padding: 24px 15px;
                }
                @media (max-width: 630px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                &--input {
                    width: calc(33.33% - 14px);
                    margin-right: 20px;
                    margin-bottom: 28px;
                    @media (max-width: 630px) {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }
                &--text {
                    margin-bottom: 20px;
                    .input-module__input {
                        min-height: 108px;
                    }
                }
                &__submit {
                    margin-right: 30px;
                    @media (max-width: 630px) {
                        margin: 0 0 18px;
                    }
                    @media (max-width: 430px) {
                        margin: 0 auto 18px;
                    }
                }
                &__privacy {
                    display: flex;
                    align-items: center;
                    max-width: calc(100% - 254px);
                    @media (max-width: 630px) {
                        max-width: 260px;
                        margin: 0;
                        align-items: flex-start;
                    }
                    @media (max-width: 430px) {
                        margin: 0 auto;
                    }
                    .icon-lock {
                        width: 18px;
                        height: 24px;
                        fill: #CFD6DC;
                        margin-right: 13px;
                        flex-shrink: 0;
                    }
                    span {
                        font-size: rem(12);
                        line-height: 158%;
                        color: $gray;
                        @media (max-width: 630px) {
                            font-size: rem(11);
                        }
                    }
                }
            }
            .filter-advantages {
                margin-bottom: -133px;
                position: relative;
                z-index: 1;
                @media (max-width: 1180px) {
                    margin-bottom: -306px;
                }
            }
        }
    }
    &-pricing {
        padding: 175px 0 10px;
        background-color: $white;
        @media (max-width: 1180px) {
            padding: 330px 0 30px;
        }
        &__title {
            text-align: center;
            margin-bottom: 10px;
        }
        &__subtitle {
            margin-bottom: 13px;
            font-weight: 300;
            font-size: rem(22);
            line-height: lh(26, 22);
            text-align: center;
            color: $black;
            @media (max-width: 1180px) {
                font-size: rem(14);
                line-height: lh(24, 15);
                margin-bottom: 8px;
            }
        }
        &__descr {
            max-width: 740px;
            font-weight: 300;
            font-size: rem(15);
            line-height: lh(24, 16);
            text-align: center;
            color: $gray;
            margin: 0 auto 34px;
            @media (max-width: 1180px) {
                max-width: calc(100vw - 30px);
                margin-bottom: 25px;
            }
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            &__item {
                width: calc(33.33% - 24px);
                margin: 0 35px 35px 0;
                background: $white;
                border: 1px solid $border;
                border-radius: 4px;
                @media (max-width: 1180px) {
                    width: calc(33.33% - 10px);
                    margin-right: 15px;
                    margin-bottom: 15px;
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }
                @media (max-width: 630px) {
                    width: 100%;
                    margin-right: 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                &-row {
                    height: 54px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20px;
                    border-bottom: 1px solid $border;
                    @media (max-width: 1180px) {
                        padding: 0 15px;
                    }
                    &-title {
                        font-size: rem(18);
                        color: #2D2D39;
                        padding-right: 10px;
                        @media (max-width: 1180px) {
                            font-size: rem(14);
                        }
                        span {
                            font-weight: 700;
                        }
                    }
                    &-price {
                        font-weight: bold;
                        font-size: rem(18);
                        color: #4D9D38;
                        white-space: nowrap;
                        @media (max-width: 1180px) {
                            font-size: rem(17);
                        }
                        span {
                            font-size: rem(13);
                        }
                    }
                    &:nth-child(2n) {
                        background: rgba(224, 224, 224, 0.22)
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
    }
    &-earnings {
        background: $hblue url('../img/backgrounds/authors/authors-earnings-bg.png') no-repeat center;
        background-size: cover;
        padding: 30px 0 15px;
        @media (max-width: 1180px) {
            padding: 26px 0 14px;
        }
        @media (max-width: 630px) {
            padding: 26px 0;
        }
        &__title {
            margin-bottom: 12px;
            text-align: center;
            color: $white;
        }
        &__subtitle {
            text-align: center;
            margin-bottom: 35px;
            font-weight: 300;
            font-size: rem(22);
            color: $white;
            @media (max-width: 1180px) {
                margin-bottom: 30px;
                font-size: rem(15);
            }
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            &__item {
                width: calc(33.33% - 24px);
                margin-right: 35px;
                margin-bottom: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: $white;
                box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
                border-radius: 8px;
                padding: 15px 0 22px;
                @media (max-width: 1180px) {
                    width: calc(33.33% - 10px);
                    margin-right: 15px;
                    margin-bottom: 15px;
                }
                @media (max-width: 630px) {
                    width: 100%;
                    margin-right: 0;
                    padding: 8px 0 18px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
                &-count {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    @media (max-width: 630px) {
                        margin-bottom: 7px;
                    }
                }
                &-title {
                    margin-bottom: 19px;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                    color: $rblack;
                    @media (max-width: 630px) {
                        margin-bottom: 15px;
                        font-size: rem(15);
                    }
                }
                &-info {
                    background: rgba(196, 196, 196, 0.1);
                    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.07);
                    border-top: 1px solid $border;
                    padding: 15px 0;
                    width: 100%;
                    margin-bottom: 13px;
                    &-salary {
                        text-align: center;
                        font-weight: bold;
                        font-size: rem(20);
                        color: #4D9D38;
                        margin-bottom: 15px;
                        @media (max-width: 630px) {
                            font-size: rem(19);
                        }
                    }
                    &-row {
                        text-align: center;
                        font-size: rem(15);
                        color: $black;
                        margin-bottom: 13px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    &-adv {
        background: #ECF5FF url('../img/backgrounds/authors/authors-adv-bg.png') no-repeat center;
        background-size: cover 100%;
        @media (max-width: 1180px) {
            padding: 21px 0 37px;
            background-position-y: bottom;
            background-size: cover;
        }
        &__title {
            margin-bottom: 55px;
            @media (max-width: 1180px) {
                margin-bottom: 20px;
            }
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            &__item {
                width: 388px;
                display: flex;
                align-items: flex-start;
                margin-bottom: 25px;
                margin-right: 73px;
                @media (max-width: 1180px) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                img {
                    flex-shrink: 0;
                    margin-right: 16px;
                }
                &:nth-child(2n) {
                    width: 405px;
                    margin-right: 0;
                }
                &-text {
                    margin-top: 12px;
                }
                &-title {
                    font-size: rem(19);
                    color: $black;
                    margin-bottom: 13px;
                    @media (max-width: 1180px) {
                        font-size: rem(18);
                        margin-bottom: 7px;
                    }
                }
                &-content {
                    font-size: rem(14);
                    line-height: lh(23, 14);
                    color: #43484D;
                    @media (max-width: 1180px) {
                        max-width: 340px;
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &-begin {
        padding: 25px 0 10px;
        background-color: $white;
        @media (max-width: 1180px) {
            padding: 20px 0 25px;
        }
        &__title {
            text-align: center;
            margin-bottom: 12px;
            @media (max-width: 1180px) {
                margin-bottom: 8px;
            }
        }
        &__subtitle {
            margin-bottom: 45px;
            font-weight: 300;
            font-size: rem(22);
            text-align: center;
            color: $black;
            @media (max-width: 1180px) {
                font-size: rem(15);
                margin-bottom: 20px;
            }
        }
        &-list {
            display: flex;
            @media (max-width: 1180px) {
                flex-wrap: wrap;
            }
            &__item {
                width: calc(33.33% - 26px);
                margin-right: 38px;
                margin-bottom: 25px;
                display: flex;
                @media (max-width: 1180px) {
                    width: 100%;
                    margin-bottom: 15px;
                    margin-right: 0;
                }
                &-num {
                    flex-shrink: 0;
                    margin-right: 16px;
                    @media (max-width: 1180px) {
                        img {
                            max-width: 39px;
                        }
                    }
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
                &-content {
                    margin-top: 4px;
                }
                &-title {
                    margin-bottom: 8px;
                    font-weight: 300;
                    font-size: rem(20);
                    color: $tblack;
                }
                &-text {
                    font-size: rem(14);
                    line-height: lh(23, 14);
                    color: $tblack;
                }
            }
        }
    }
    &-text {
        padding: 35px 0 15px;
        background: #F4F5F9;
        @media (max-width: 1180px) {
            padding: 23px 0;
        }
        &__title {
            margin-bottom: 43px;
            @media (max-width: 1180px) {
                display: none;
            }
        }
        &-content {
            display: flex;
            flex-wrap: wrap;
            &-column {
                width: calc(50% - 25px);
                margin-right: 50px;
                margin-bottom: 35px;
                padding-left: 25px;
                @media (max-width: 1180px) {
                    width: 100%;
                    margin-bottom: 15px;
                    margin-right: 0;
                    padding-left: 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                &:nth-child(2n) {
                    margin-right: 0;
                    padding-left: 0;
                    padding-right: 25px;
                }
            }
        }
    }
}