.links {
    background-color: #F4F7FB;
    padding: 25px 0 35px;
    @media (max-width: 1180px) {
        padding: 25px 0 28px;
    }
    &--white {
        background-color: $white;
    }
    &__title {
        text-align: center;
        margin-bottom: 25px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: 1180px) {
            justify-content: unset;
        }
        &__item {
            white-space: nowrap;
            min-height: 40px;
            display: flex;
            align-items: center;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background: $white;
            border: 1px solid $border;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 0 15px;
            margin-right: 5px;
            margin-bottom: 5px;
            transition: color $trans, border-color $trans, background-color $trans;
            @media (max-width: 630px) {
                font-size: rem(11);
                min-height: 30px;
            }
            &:hover {
                color: $white;
                border-color: $blue;
                background-color: $blue;
                transition: color $trans, border-color $trans, background-color $trans;
            }
        }
    }
}