.about {
    &-descr {
        padding: 17px 0 20px;
        background: #F4F7FB;
        @media (max-width: 1180px) {
            padding: 25px 0;
        }
        &__title {
            margin-bottom: 25px;
            @media (max-width: 1180px) {
                margin-bottom: 15px;
            }
        }
        &__text {
            margin-bottom: 20px;
            span {
                font-weight: 700;
            }
        }
        &-list {
            display: flex;
            @media (max-width: 1180px) {
                flex-wrap: wrap;
            }
            &__item {
                width: calc(25% - 15px);
                margin-right: 20px;
                padding-left: 46px;
                font-weight: 300;
                line-height: lh(23, 16);
                color: $black;
                position: relative;
                @media (max-width: 1180px) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 20px;
                    padding-top: 8px;
                    br {
                        display: none;
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 30px;
                    height: 38px;
                    background: url('../img/svg/guarantee--green.svg') no-repeat center;
                    background-size: 100% 100%;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &-how {
        padding: 35px 0 30px;
        background: #ECF5FF url('../img/backgrounds/about/about-how-bg.jpg') no-repeat top right;
        background-size: cover;
        @media (max-width: 1180px) {
            padding: 20px 0 25px;
        }
        @media (max-width: 1700px) {
            background-image: none;
        }
        &__title {
            margin-bottom: 25px;
            @media (max-width: 1180px) {
                margin-bottom: 15px;
            }
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            &-item {
                margin-right: 88px;
                width: 345px;
                margin-bottom: 20px;
                @media (max-width: 1180px) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 15px;
                }
                &:nth-child(2n) {
                    margin-right: 0;
                    width: 355px;
                    @media (max-width: 1180px) {
                        width: 100%;
                    }
                }
                .icon {
                    margin-bottom: 15px;
                    fill: #2281E2;
                    @media (max-width: 1180px) {
                        margin-bottom: 5px;
                    }
                    &-about-n {
                        &-1 {
                            width: 49px;
                            height: 38px;
                            @media (max-width: 1180px) {
                                width: 38px;
                                height: 38px;
                            }
                        }
                        &-2 {
                            width: 55px;
                            height: 38px;
                            @media (max-width: 1180px) {
                                width: 38px;
                                height: 38px;
                            }
                        }
                        &-3 {
                            width: 55px;
                            height: 38px;
                            @media (max-width: 1180px) {
                                width: 38px;
                                height: 38px;
                            }
                        }
                        &-4 {
                            width: 56px;
                            height: 38px;
                            @media (max-width: 1180px) {
                                width: 38px;
                                height: 38px;
                            }
                        }
                    }
                }
                p span {
                    font-weight: 700;
                }
            }
        }
    }
    &-stats {
        padding: 40px 0;
        background-color: $white;
        @media (max-width: 1180px) {
            padding: 15px 0 20px;
        }
        &-wrap {
            display: flex;
            justify-content: center;
            @media (max-width: 1180px) {
                flex-direction: column;
                justify-content: normal;
            }
        }
        &__item {
            margin-right: 52px;
            display: flex;
            align-items: center;
            @media (max-width: 1180px) {
                width: 100%;
                margin-right: 0;
            }
            &-num {
                margin-right: 17px;
                font-weight: 300;
                font-size: rem(52);
                color: $green;
                @media (max-width: 1180px) {
                    width: 90px;
                    padding-right: 12px;
                    text-align: right;
                    font-size: rem(35);
                    line-height: 44px;
                    margin-right: 0;
                }
            }
            &-text {
                width: 230px;
                font-weight: 300;
                font-size: rem(17);
                line-height: lh(21, 17);
                color: $black;
                @media (max-width: 1180px) {
                    font-size: rem(14);
                    width: calc(100% - 90px);
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}