.contacts {
    background: #F4F7FB;
    padding: 17px 0 0;
    &__title {
        margin-bottom: 34px;
        @media (max-width: 1180px) {
            margin-bottom: 24px;
        }
    }
    &-block {
        width: 100%;
        background-color: $white;
        display: flex;
        position: relative;
        z-index: 1;
        box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.11);
        padding: 20px 30px 16px 20px;
        @media (max-width: 1180px) {
            flex-direction: column;
        }
        @media (max-width: 760px) {
            padding: 25px;
        }
        &-info {
            width: 396px;
            padding-right: 30px;
            @media (max-width: 1180px) {
                width: 100%;
                padding-right: 0;
                margin-bottom: 25px;
                padding-bottom: 25px;
                border-bottom: 1px solid $border;
            }
            &__item {
                margin-bottom: 20px;
                @media (max-width: 760px) {
                    &:last-child {
                        text-align: center;
                        margin-top: 30px;
                        .contacts-block-info__item {
                            &-title {
                                padding-left: 0;
                                justify-content: center;
                            }
                            &-content {
                                padding-left: 0;
                            }
                        }
                    }
                }
                &-title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    padding-left: 30px;
                    position: relative;
                    @media (max-width: 760px) {
                        font-size: rem(13);
                        margin-bottom: 5px;
                    }
                    .icon {
                        fill: #D0D2D6;
                        position: absolute;
                        left: 0;
                        top: 1px;
                        &-phone {
                            width: 16px;
                            height: 16px;
                        }
                        &-geo {
                            width: 17px;
                            height: 17px;
                        }
                        &-mail {
                            width: 17px;
                            height: 11px;
                        }
                    }
                }
                &-content {
                    padding-left: 30px;
                    display: inline-flex;
                    flex-wrap: wrap;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &__tel {
                width: 100%;
                margin-bottom: 4px;
                font-weight: 500;
                font-size: rem(15);
                color: $tblack;
                &:last-child {
                    margin-bottom: 0;
                }
                &:hover {
                    color: $hblue;
                }
            }
            &__address {
                font-style: normal;
                font-weight: 500;
                font-size: rem(14);
                color: $tblack;
            }
            &__mail {
                font-weight: 500;
                font-size: rem(14);
                text-decoration-line: underline;
                color: #2E3192;
                &:hover {
                    color: $hblue;
                }
            }
            &__social {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 41px;
                height: 41px;
                margin-right: 6px;
                border-radius: 50%;
                transition: filter $trans;
                &:hover {
                    filter: brightness(1.2);
                    transition: filter $trans;
                }
                &:last-child {
                    margin-right: 0;
                }
                .icon {
                    fill: $white;
                    &-vk {
                        width: 22px;
                        height: 13px;
                    }
                    &-inst {
                        width: 21px;
                        height: 21px;
                    }
                    &-fb {
                        width: 11px;
                        height: 20px;
                    }
                    &-yt-white {
                        width: 21px;
                        height: 15px;
                    }
                }
                &--vk {
                    background-color: #5181B8;
                }
                &--inst {
                    background: radial-gradient(86.49% 86.49% at 12.16% 100%, #FFD54D 0%, #F34C58 47.92%, #C32292 79.69%, #4648C3 100%);
                }
                &--fb {
                    background: #4267B2;
                }
                &--yt {
                    background: #FF0000;
                }
            }
        }
        &-form {
            width: calc(100% - 396px);
            padding-left: 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            @media (max-width: 1180px) {
                width: 100%;
                padding-left: 0;
            }
            @media (max-width: 760px) {
                flex-direction: column;
                align-items: center;
            }
            &__policy {
                width: calc(100% - 477px);
                padding: 0 20px;
                display: flex;
                align-items: center;
                align-self: center;
                transform: translateY(-10px);
                @media (max-width: 1180px) {
                    width: auto;
                    max-width: calc(100% - 477px);
                }
                @media (max-width: 760px) {
                    order: 2;
                    transform: translateY(0);
                    width: 200px;
                    max-width: 100%;
                }
                .icon {
                    min-width: 18px;
                    min-height: 24px;
                    max-width: 18px;
                    max-height: 24px;
                    fill: #CFD6DC;
                    margin-right: 13px;
                }
                span {
                    font-size: rem(12);
                    line-height: lh(19, 12);
                    color: $gray;
                }
            }
            &__title {
                width: 100%;
                margin-bottom: 30px;
                text-align: center;
            }
            &--half {
                width: calc(50% - 11px);
                margin-right: 22px;
                &:nth-child(2n + 1) {
                    margin-right: 0;
                }
                @media (max-width: 760px) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
            &--full {
                margin-top: 27px;
                margin-bottom: 22px;
                @media (max-width: 760px) {
                    margin-top: 0;
                    margin-bottom: 20px;
                }
                .input-module__input {
                    min-height: 85px;
                }
            }
            &__submit {
                width: 175px;
                @media (max-width: 760px) {
                    width: 200px;
                    margin-bottom: 25px;
                }
            }
            &__captcha {
                width: 302px;
                height: 76px;
                transform: translateY(-7px);
                @media (max-width: 760px) {
                    width: 270px;
                    height: 70px;
                    margin-bottom: 10px;
                    max-width: 100%;
                }
            }
        }
    }
    &__map {
        height: 34.5vw;
        max-height: 663px;
        min-height: 400px;
        margin-top: -212px;
        background-color: $border;
        @media (max-width: 760px) {
            height: 663px;
        }
        >div {
            width: 100%;
            height: 100%;
        }
    }
}