.advantages {
    padding: 60px 0 43px;
    background: $white url('../img/backgrounds/advantages/advantages-bg.jpg') no-repeat right top;
    background-size: auto 100%;
    @media (max-width: 1700px) {
        background-image: none;
    }
    @media (max-width: 1180px) {
        padding: 25px 0 30px;
    }
    &--another {
        .advantages {
            &__title {
                text-align: unset;
            }
            &__subtitle {
                text-align: unset;
            }
        }
    }
    &__title {
        margin-bottom: 10px;
        text-align: center;
    }
    &__subtitle {
        margin-bottom: 35px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 1180px) {
            display: block;
            flex-wrap: unset;
        }
        &__item {
            width: 319px;
            margin-right: 80px;
            margin-bottom: 32px;
            @media (max-width: 1180px) {
                width: 100%;
            }
            @media (max-width: 630px) {
                position: relative;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:last-child {
                .advantages-list__item-title {
                    max-width: 245px;
                }
            }
            .icon {
                fill: $hblue;
                margin-bottom: 19px;
                @media (max-width: 630px) {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &-adv {
                    &-1 {
                        width: 41px;
                        height: 54px;
                        @media (max-width: 630px) {
                            width: 25px;
                            height: 33px;
                        }
                    }
                    &-2 {
                        width: 52px;
                        height: 52px;
                        @media (max-width: 630px) {
                            width: 33px;
                            height: 33px;
                        }
                    }
                    &-3 {
                        width: 58px;
                        height: 49px;
                        @media (max-width: 630px) {
                            width: 32px;
                            height: 27px;
                        }
                    }
                    &-4 {
                        height: 41px;
                        width: 41px;
                        @media (max-width: 630px) {
                            width: 29px;
                            height: 29px;
                            // transform: translateX(4px);
                        }
                    }
                    &-5 {
                        width: 37px;
                        height: 42px;
                        @media (max-width: 630px) {
                            width: 28px;
                            height: 33px;
                        }
                    }
                    &-6 {
                        width: 45px;
                        height: 45px;
                        @media (max-width: 630px) {
                            width: 28px;
                            height: 28px;
                        }
                    }
                }
            }
            &-title {
                max-width: 205px;
                margin-bottom: 10px;
                font-size: rem(19);
                line-height: lh(27, 19);
                color: #222230;
                @media (max-width: 630px) {
                    padding-left: 45px;
                    font-size: rem(16);
                    max-width: 250px;
                    margin-bottom: 5px;
                    min-height: 44px;
                }
            }
            &-text {
                font-size: rem(14);
                line-height: lh(24, 14);
                color: $black;
            }
        }
    }
}