<!DOCTYPE html>
<html lang="ru">

@@include("../blocks/modules/header/head.html")

<body>

    <!-- begin of page content -->

    <section class="login">
        <!-- connecting header-->
        @@include("../blocks/modules/header/header--login.html")
        <div class="login-content limiter">
            <div class="login-info">
                <a href="#" class="login-info__back def-btn def-btn--has-arrow-out">Вернуться на сайт</a>
                <div class="login-info__logo"></div>
                <div class="login-info__descr">Помощь студентам от лучших экспертов без посредников. Быстро и на отлично!</div>
                <h1 class="login-info__title">Добро пожаловать в личный кабинет</h1>
                <div class="login-info__subtitle">В личном кабенете вы можете создавать заказы, следить за их выполнением и управлять процессом правок.</div>
            </div>
            <form action="" class="login-form">
                <h4 class="login-form__title">Войти с помощью:</h4>
                <div class="login-form-filter">
                    <a href="#" class="login-form-filter__item is-current">email</a>
                    <a href="#" class="login-form-filter__item">телефон</a>
                    <a href="#" class="login-form-filter__item">ВКонтакте</a>
                    <a href="#" class="login-form-filter__item">Телеграм</a>
                </div>
                <div class="login-form-content">
                    <div class="input-module">
                        <input class="input-module__input" type="text" placeholder="Введите Ваш email">
                        <label class="input-module__label">Email</label>
                        <span class="input-module__message"></span>
                    </div>
                </div>
                <button class="def-btn def-btn--has-arrow-in login-form__submit">получить код</button>
            </form>
        </div>
        <div class="login-copyrights">Copyright StudAvtor - Помощь студентам от лучших экспертов</div>
    </section>

    <!-- connecting modals -->
    @@include("../blocks/modules/modals/modals.html")

    <!-- end of page content -->

    <!-- connecting scripts -->
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>

</body>

</html>