<!DOCTYPE html>
<html lang="ru">

@@include("../blocks/modules/header/head.html")

<body>

    <!-- begin of page content -->

    <div class="wrapper">

        <!-- connecting header-->
        @@include("../blocks/modules/header/header.html")

        <!-- including breadcrumbs-->
        @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")

        <!-- begin of main part -->
        <main class="main">

            <!-- product titling section -->
            <section class="product">
                <div class="product-wrap limiter">
                    <div class="product-titling">
                        <div class="product-titling-gen">
                            <h2 class="product-titling__main">Заказать дипломную работу</h2>
                            <div class="section__descr product-titling__subtitle">Предлагаем ознакомиться с полным перечнем предоставляемых услуг.</div>
                        </div>
                        <a href="#" class="product-titling-btn def-btn def-btn--has-arrow-in">оформить заявку</a>
                    </div>
                    <div class="product-text">
                        <p>Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших направлений развития. </p>
                        <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Равным образом постоянное
                            информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации дальнейших направлений развития.</p>
                    </div>
                </div>
            </section>

            <!-- advantages section -->
            @@include("../blocks/modules/advantages/advantages--another.html")

            <!-- product how section -->
            <section class="product-how">
                <div class="product-how-wrap limiter">
                    <div class="product-titling">
                        <div class="product-titling-gen">
                            <h2 class="product-titling__main">Заказать дипломную работу</h2>
                            <div class="section__descr product-titling__subtitle">Предлагаем ознакомиться с полным перечнем предоставляемых услуг.</div>
                        </div>
                        <a href="#" class="product-titling-btn def-btn def-btn--has-arrow-in">оформить заявку</a>
                    </div>
                    <div class="product-how-list">
                        <div class="product-how-list__item">
                            <img src="../img/svg/product/product-how1.svg" alt="product how icon">
                            <div class="product-how-list__item-title">Оформление заявки</div>
                            <div class="product-how-list__item-text">Получение задания от клиента.</div>
                        </div>
                        <div class="product-how-list__item">
                            <img src="../img/svg/product/product-how2.svg" alt="product how icon">
                            <div class="product-how-list__item-title">Оформление договора</div>
                            <div class="product-how-list__item-text">Сбор информации и составление списка литературы. Постепенный подбор правильной литературы и синтез ценной информации.</div>
                        </div>
                        <div class="product-how-list__item">
                            <img src="../img/svg/product/product-how3.svg" alt="product how icon">
                            <div class="product-how-list__item-title">Оплата заказа</div>
                            <div class="product-how-list__item-text">Профессиональное написание дипломных работ на заказ с учетом пожеланий и требований любых преподавателей.</div>
                        </div>
                        <div class="product-how-list__item">
                            <img src="../img/svg/product/product-how4.svg" alt="product how icon">
                            <div class="product-how-list__item-title">Заказ в работе</div>
                            <div class="product-how-list__item-text">Корректировка любого уровня</div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- reviews video section -->
            @@include("../blocks/modules/reviews/reviews-only-video.html")

            <!-- ready section -->
            @@include("../blocks/modules/ready/ready.html")

            <!-- reviews section -->
            @@include("../blocks/modules/reviews/reviews-only-slider-another.html")

            <!-- links module -->
            @@include("../blocks/modules/links/links.html")

            <!-- guarantee section -->
            @@include("../blocks/modules/guarantee/guarantee-another.html")

            <!-- why section -->
            @@include("../blocks/modules/why/why--another.html")

            <!-- links section -->
            @@include("../blocks/modules/links/links--white.html")

        </main>
        <!-- end of main part -->

        <!-- connecting footer -->
        @@include("../blocks/modules/footer/footer.html")

    </div>

    <!-- connecting modals -->
    @@include("../blocks/modules/modals/modals.html")

    <!-- end of page content -->

    <!-- connecting scripts -->
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>

</body>

</html>