.welcome {
    padding: 168px 0 0;
    background: $hblue url('../img/backgrounds/welcome/welcome-bg.jpg') no-repeat right top;
    background-size: cover;
    @media (max-width: 1700px) {
        background-position: center center;
    }
    @media (max-width: 1180px) {
        padding: 96px 0 0;
    }
    &__title {
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        color: $white;
        position: relative;
        @media (max-width: 1180px) {
            max-width: calc(100% - 30px);
        }
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: calc(100% + 10px);
            width: 117px;
            height: 14px;
            background: url('../img/svg/logo-icon.svg') no-repeat center;
            background-size: 100% 100%;
        }
    }
    &__subtitle {
        font-family: $gilroy;
        font-weight: 500;
        font-size: rem(37);
        line-height: 163%;
        text-align: center;
        color: $white;
        margin: 5px 0 35px;
        @media (max-width: 1180px) {
            font-size: rem(22);
            margin-bottom: 16px;
            font-weight: 400;
            max-width: calc(100% - 30px);
            margin: 5px auto 16px;
        }
    }
    &-filter {
        max-width: 996px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        @media (max-width: 1180px) {
            max-width: calc(100% - 30px);
            z-index: 2;
        }
        .filter {
            border-radius: 2px 2px 0 0;
            &-advantages {
                margin-bottom: -133px;
                @media (max-width: 1180px) {
                    margin-bottom: -306px;
                }
            }
        }
    }
}