.article {
    padding: 10px 0 55px;
    background: #F4F7FB;
    @media (max-width: 630px) {
        padding: 26px 0 10px;
        background-color: #f4f7fb;
    }
    &__date {
        margin-bottom: 8px;
        font-size: rem(12);
        color: $gray;
    }
    &__title {
        margin-bottom: 25px;
        @media (max-width: 630px) {
            margin-bottom: 20px;
        }
    }
    &-content {
        &-list {
            float: left;
            padding: 15px 20px 18px;
            margin: 0 25px 25px 0;
            background: $white;
            box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.07);
            border-radius: 3px;
            @media (max-width: 630px) {
                float: unset;
                margin-right: 0;
                margin-bottom: 20px;
            }
            &__title {
                margin-bottom: 8px;
                font-weight: bold;
                font-size: 16px;
                line-height: lh(25, 16);
                color: $rblack;
            }
            &__inner {
                padding-left: 5px;
                li {
                    margin-bottom: 5px;
                    font-size: rem(14);
                    line-height: 179%;
                    text-decoration-line: underline;
                    color: #103C69;
                    transition: color $trans;
                    &:hover {
                        color: $blue;
                        transition: color $trans;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 3px;
                        height: 3px;
                        margin-right: 8px;
                        border-radius: 50%;
                        background-color: $rblack;
                        transform: translateY(-5px);
                    }
                }
            }
        }
        >ul {
            padding-left: 20px;
            @media (max-width: 630px) {
                padding-left: 0;
            }
        }
        .banner {
            margin: 30px 0 25px;
        }
        >* {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}