/** connecting Gilroy font **/

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.ttf');
    font-weight: 500;
    font-size: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.ttf');
    font-weight: 600;
    font-size: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.ttf');
    font-weight: 700;
    font-size: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBold.ttf');
    font-weight: 800;
    font-size: normal;
}

$gilroy:'Gilroy',
sans-serif;