body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
    appearance: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: unset;
    color: inherit;
}

button {
    padding: unset;
    border: unset;
    background-color: unset;
    text-align: unset;
    &:focus {
        outline: none;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 115%;
    color: $black;
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    overflow-x: hidden;
}

.wrapper {
    padding-top: 88px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @media (max-width: 1180px) {
        padding-top: 45px;
    }
    main {
        flex-grow: 1;
    }
}

.limiter {
    width: 1171px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1180px) {
        width: calc(100vw - 30px);
    }
}