.feedback {
    padding: 17px 0 43px;
    background: #F4F7FB;
    @media (max-width: 1180px) {
        padding: 30px 0;
    }
    &__title {
        margin-bottom: 15px;
        @media (max-width: 1180px) {
            margin-bottom: 10px;
        }
    }
    &__subtitle {
        margin-bottom: 31px;
    }
    &-list {
        display: flex;
        align-items: flex-start;
        padding-bottom: 30px;
        @media (max-width: 1180px) {
            display: block;
        }
        &-column {
            width: calc(50% - 10px);
            margin-right: 20px;
            &:nth-child(2n) {
                margin-right: 0;
            }
            @media (max-width: 1180px) {
                width: 100%;
                margin-bottom: 20px;
                margin-right: 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__item {
            padding: 22px 32px 20px 22px;
            background: $white;
            box-shadow: 0px 0px 22px rgba(13, 14, 15, 0.08);
            border-radius: 5px;
            position: relative;
            align-self: flex-start;
            margin-bottom: 20px;
            @media (max-width: 630px) {
                padding: 15px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &-avatar {
                position: absolute;
                top: 14px;
                right: 16px;
                @media (max-width: 630px) {
                    right: 15px;
                }
            }
            &-author {
                margin-bottom: 6px;
                font-weight: bold;
                font-size: rem(21);
                line-height: 105%;
                color: $tblack;
                @media (max-width: 630px) {
                    font-size: rem(16);
                    margin-bottom: 8px;
                }
            }
            &-rates {
                display: flex;
                padding-right: 64px;
                justify-content: space-between;
                margin-bottom: 12px;
                @media (max-width: 1180px) {
                    justify-content: normal;
                }
                @media (max-width: 630px) {
                    flex-direction: column;
                    margin-bottom: 15px;
                }
                &-item {
                    display: flex;
                    align-items: center;
                    @media (max-width: 1180px) {
                        margin-right: 10px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    @media (max-width: 630px) {
                        margin-bottom: 6px;
                        margin-right: 0;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    span {
                        margin-right: 4px;
                        font-weight: 500;
                        font-size: rem(12);
                        color: $gray;
                        @media (max-width: 630px) {
                            min-width: 90px;
                        }
                    }
                }
            }
            &-text {
                font-size: rem(14);
                line-height: lh(22, 14);
                color: $tblack;
                @media (max-width: 630px) {
                    padding-top: 14px;
                    border-top: 1px solid $border;
                    font-size: rem(13);
                    line-height: 160%;
                }
                p {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}