/** default titles **/

h1 {
    font-family: $gilroy;
    font-weight: 800;
    font-size: rem(47);
    line-height: 117.4%;
    @media (max-width: 1180px) {
        font-size: rem(26);
        line-height: 142%;
        font-weight: 700;
    }
}

h2 {
    font-family: $gilroy;
    font-weight: 700;
    font-size: rem(39);
    line-height: lh(47, 39);
    @media (max-width: 1180px) {
        font-size: rem(22);
        line-height: lh(27, 22);
    }
}

h3 {
    font-weight: 500;
    font-size: rem(32);
    line-height: 135%;
    @media (max-width: 1180px) {
        font-size: rem(17);
        font-weight: bold;
    }
}

h4 {
    font-weight: 500;
    font-size: rem(23);
    line-height: 104%;
    @media (max-width: 1180px) {
        font-size: rem(17);
    }
}

h5 {
    font-weight: 500;
    font-size: rem(20);
    line-height: 120%;
    @media (max-width: 1180px) {
        font-size: rem(18);
    }
}


/** custom titles & subtitles **/

.section__subtitle {
    font-weight: 300;
    font-size: rem(18);
    line-height: lh(21, 18);
    text-align: center;
    color: $black;
    @media (max-width: 1180px) {
        font-size: rem(15);
        line-height: 160%;
        max-width: calc(100vw - 30px);
        margin-left: auto;
        margin-right: auto;
    }
}

.section__descr {
    font-size: rem(17);
    line-height: 1;
    color: #2C2E32;
    @media (max-width: 630px) {
        font-size: rem(15);
        font-weight: 300;
        line-height: 160%;
    }
}