<div class="pagination">
    <a href="#" class="pagination-arrow pagination-arrow--prev is-disabled">
        <svg class="icon icon-arrow-small">
        <use xlink:href="./img/sprites/main-sprite.svg#icon-arrow-small"></use>
    </svg>
        <span>Предыдущая</span>
    </a>
    <a href="#" class="pagination-bullet is-current">1</a>
    <a href="#" class="pagination-bullet">2</a>
    <a href="#" class="pagination-bullet">3</a>
    <a href="#" class="pagination-arrow pagination-arrow--next">
        <span>Следующая</span>
        <svg class="icon icon-arrow-small">
        <use xlink:href="./img/sprites/main-sprite.svg#icon-arrow-small"></use>
    </svg>
    </a>
</div>