.help {
    padding: 190px 0 45px;
    background: #F1F5FA;
    @media (max-width: 1180px) {
        padding: 333px 0 35px;
    }
    &-wrap {
        display: flex;
        flex-direction: column;
    }
    &__title {
        text-align: center;
        margin-bottom: 10px;
    }
    &__subtitle {
        margin-bottom: 30px;
        @media (max-width: 1180px) {
            margin-bottom: 20px;
        }
    }
    &-item {
        padding: 18px 25px 25px;
        background-color: $white;
        background: #FFFFFF;
        box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.03);
        border-radius: 8px;
        transition: transform $trans;
        display: flex;
        flex-direction: column;
        transition: transform $trans;
        &:hover {
            transform: translateY(-10px);
            transition: transform $trans;
            .help-item__logo .icon-logo-part {
                fill: $blue;
                transition: fill $trans;
            }
        }
        &__logo {
            margin-bottom: 10px;
            .icon-logo-part {
                width: 24px;
                height: 21px;
                fill: rgba(111, 122, 135, 0.39);
                transition: fill $trans;
            }
        }
        &__name {
            font-size: rem(18);
            line-height: lh(27, 18);
            color: $black;
            margin-bottom: 6px;
            overflow: hidden;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
        &__dur {
            margin-top: auto;
            margin: auto 0 12px;
            font-size: rem(14);
            line-height: lh(22, 14);
            color: $gray;
            &-num {
                color: $black;
            }
        }
        &__price {
            margin-bottom: 19px;
            font-size: rem(14);
            line-height: lh(22, 14);
            color: #4D9D38;
            &-num {
                font-size: rem(19);
                font-weight: 500;
            }
        }
    }
    &-slider {
        position: relative;
        margin-bottom: 45px;
        @media (max-width: 1180px) {
            margin-bottom: 12px;
        }
        @media (max-width: 630px) {
            margin-bottom: 28px;
        }
        &-track {
            overflow: hidden;
            padding-top: 10px;
            @media (max-width: 1180px) {
                .swiper-wrapper {
                    flex-wrap: wrap;
                    align-items: normal;
                    .swiper-slide {
                        width: calc(50% - 8px);
                        margin-right: 16px;
                        margin-bottom: 16px;
                        height: unset;
                        @media (max-width: 630px) {
                            width: 100%;
                            margin-right: 0;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        &:nth-child(2n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        &__prev {
            position: absolute;
            right: calc(100% + 20px);
            top: 50%;
            transform: translateY(-50%);
            @media (max-width: 1340px) {
                right: auto;
                left: -20px;
                z-index: 4;
            }
            @media (max-width: 1230px) {
                display: none;
            }
        }
        &__next {
            position: absolute;
            left: calc(100% + 20px);
            top: 50%;
            transform: translateY(-50%);
            @media (max-width: 1340px) {
                left: auto;
                right: -20px;
                z-index: 4;
            }
            @media (max-width: 1230px) {
                display: none;
            }
        }
    }
    &__all {
        margin: 0 auto;
    }
}