.ap {
    &-form {
        padding: 17px 0 75px;
        background: #F4F7FB;
        @media (max-width: 1180px) {
            padding: 30px 0 40px;
        }
        &__title {
            margin-bottom: 35px;
            padding-left: 77px;
            position: relative;
            @media (max-width: 1180px) {
                padding-left: 47px;
                margin-bottom: 30px;
            }
            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: 0;
                width: 56px;
                height: 58px;
                background: url('../img/svg/antiplagiat.svg') no-repeat center;
                background-size: 100% 100%;
                @media (max-width: 1180px) {
                    width: 36px;
                    height: 37px;
                    top: 0;
                }
            }
            h2 {
                margin-bottom: 10px;
            }
        }
        &-inner {
            width: 100%;
            background-color: $white;
            padding: 40px 30px 35px;
            box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.11);
            border-radius: 2px 2px 0px 0px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @media (max-width: 1180px) {
                padding: 24px 15px;
                align-items: unset;
                flex-direction: column;
            }
        }
        &__mail {
            width: 550px;
            margin-bottom: 20px;
            @media (max-width: 1180px) {
                width: 100%;
            }
        }
        &__text {
            margin-bottom: 26px;
            width: 100%;
            @media (max-width: 1180px) {
                margin-bottom: 20px;
            }
            .input-module__input {
                min-height: 290px;
            }
        }
        &__captcha {
            width: 302px;
            height: 76px;
            max-width: 100%;
            @media (max-width: 1180px) {
                margin-bottom: 15px;
            }
        }
        &__submit {
            margin: 0 30px;
            @media (max-width: 1180px) {
                margin: 0 0 15px;
                max-width: 270px;
            }
        }
        &__policy {
            display: flex;
            padding-right: 30px;
            max-width: calc(100% - 630px);
            @media (max-width: 1180px) {
                max-width: 270px;
                padding-right: 0;
            }
            .icon-lock {
                width: 18px;
                height: 24px;
                margin-right: 13px;
                fill: #CFD6DC;
                flex-shrink: 0;
            }
            span {
                font-size: rem(12);
                line-height: lh(19, 12);
                color: $gray;
                margin-top: 3px;
            }
        }
    }
    &-descr {
        background-color: $white;
        padding: 45px 0 35px;
        @media (max-width: 1180px) {
            padding: 30px 0 25px;
        }
        &-wrap {
            display: flex;
            align-items: flex-start;
            @media (max-width: 1180px) {
                flex-direction: column;
                align-items: normal;
            }
        }
        &-left {
            width: calc(100% - 630px);
            @media (max-width: 1180px) {
                width: 100%;
            }
        }
        &-right {
            width: 630px;
            background: $hblue url('../img/backgrounds/antiplagiat/ap-descr-bg.svg') no-repeat;
            background-size: 164px 170px;
            background-position: calc(100% + 9px) calc(100% + 8px);
            padding: 20px 24px;
            border-radius: 5px;
            margin-top: 17px;
            @media (max-width: 1180px) {
                width: 100%;
                padding: 15px;
            }
            p {
                margin-bottom: 15px;
                color: $white;
                line-height: 171%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__subtitle {
            font-family: $gilroy;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: rem(11);
            line-height: lh(13, 11);
            letter-spacing: 0.31em;
            text-transform: uppercase;
            color: $tblack;
        }
        &__title {
            margin-bottom: 14px;
        }
        &__text {
            font-weight: 300;
            font-size: rem(21);
            line-height: lh(30, 21);
            color: $tblack;
            @media (max-width: 1180px) {
                font-size: rem(17);
            }
        }
    }
    &-advantages {
        padding: 40px 0 15px;
        background: #F8FAFE;
        @media (max-width: 1180px) {
            background-color: $white;
            padding: 0 0 25px;
        }
        &__title {
            margin-bottom: 60px;
            text-align: center;
            @media (max-width: 1180px) {
                margin-bottom: 20px;
            }
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
        }
        &__item {
            width: calc(33.33% - 36px);
            margin-right: 54px;
            margin-bottom: 40px;
            padding-left: 46px;
            position: relative;
            @media (max-width: 1180px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 25px;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 30px;
                height: 39px;
                background: url('../img/svg/guarantee-icon.svg') no-repeat center;
                background-size: 100% 100%;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
            &-text {
                font-weight: 300;
                font-size: rem(18);
                line-height: lh(27, 18);
                color: $rblack;
            }
        }
    }
    &-banner {
        padding: 37px 0 43px;
        background-color: $white;
        @media (max-width: 1180px) {
            padding: 25px 0;
            background-color: #f4f7fb;
        }
    }
}