.page-main {
    padding-top: 0;
}


/** styles for login page **/

.login {
    border: 2.5vw solid $white;
    background: $hblue url('../img/backgrounds/login/login-bg.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    @media (max-width: 1600px), (max-height: 768px) {
        border: none;
    }
    @media (max-width: 1180px) {
        height: auto;
        min-height: 100vh;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        padding-top: 14vh;
        align-items: flex-start;
        @media (max-width: 1180px) {
            padding: 70px 0 120px;
            align-items: center;
            flex-direction: column;
        }
    }
    &-info {
        @media (max-width: 1180px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__back {
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.21);
            box-shadow: none;
            text-transform: unset;
            font-style: normal;
            font-weight: normal;
            font-size: rem(12);
            margin-bottom: 45px;
            @media (max-width: 1180px) {
                margin-bottom: 30px;
            }
        }
        &__logo {
            margin-bottom: 20px;
            width: 290px;
            height: 54px;
            background: url('../img/default/logo/log--login.svg') no-repeat center;
            background-size: 100% 100%;
            @media (max-width: 1180px) {
                width: 194px;
                height: 36px;
                margin-bottom: 25px;
            }
        }
        &__descr {
            padding-left: 80px;
            color: $white;
            margin-bottom: 40px;
            font-size: rem(15);
            max-width: 400px;
            @media (max-width: 1180px) {
                display: none;
            }
        }
        &__title {
            color: $white;
            font-size: rem(58);
            line-height: 129%;
            max-width: 600px;
            text-shadow: 0px 8px 27px rgba(0, 0, 0, 0.12);
            margin-bottom: 10px;
            @media (max-width: 1180px) {
                font-size: rem(26);
                line-height: 130%;
                max-width: calc(100vw - 30px);
                text-align: center;
                margin-bottom: 30px;
            }
        }
        &__subtitle {
            font-weight: 300;
            font-size: rem(22);
            line-height: lh(36, 22);
            color: $white;
            max-width: 600px;
            @media (max-width: 1180px) {
                display: none;
            }
        }
    }
    &-form {
        width: 388px;
        margin-top: 140px;
        background: $white;
        box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.11);
        border-radius: 8px;
        padding: 35px 40px 40px;
        display: flex;
        flex-direction: column;
        @media (max-width: 1180px) {
            margin-top: 0;
            max-width: 100%;
            padding: 25px 12px;
        }
        &__title {
            margin-bottom: 25px;
            text-align: center;
        }
        &-filter {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            &__item {
                font-weight: 500;
                font-size: rem(12);
                text-transform: uppercase;
                color: $black;
                padding-bottom: 4px;
                border-bottom: 2px solid transparent;
                transition: border-color $trans;
                &.is-current {
                    border-color: $yellow;
                    transition: border-color $trans;
                }
                &:hover {
                    border-color: $yellow;
                    transition: border-color $trans;
                }
            }
        }
        &-content {
            margin-bottom: 25px;
        }
        &__submit {
            margin: 0 auto;
        }
    }
    &-copyrights {
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
        font-size: rem(13);
        line-height: lh(15, 13);
        color: #D8E6F8;
        @media (max-width: 1180px) {
            left: 15px;
            right: 15px;
            text-align: center;
            transform: translateX(0);
        }
    }
}


/** styles for error page **/

.error {
    padding: 17px 0 50px;
    min-height: calc(100vh - 345px);
    background: #F4F7FB;
    display: flex;
    align-items: center;
    @media (max-width: 1180px) {
        padding: 30px 0;
        min-height: auto;
    }
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: flex-start;
        >* {
            position: relative;
            z-index: 1;
        }
        &:before {
            content: '';
            position: absolute;
            right: -38px;
            bottom: -50px;
            width: 413px;
            height: 346px;
            background: url('../img/default/error-figures/error-bg.svg') no-repeat center;
            background-size: 100% 100%;
            @media (max-width: 1180px) {
                width: 227px;
                height: 190px;
                bottom: 50px;
                right: -57px;
            }
        }
    }
    &__title {
        margin-bottom: 25px;
        @media (max-width: 1180px) {
            margin-bottom: 15px;
        }
    }
    &__subtitle {
        max-width: 580px;
        @media (max-width: 1180px) {
            font-size: rem(15);
            font-weight: 300;
            line-height: 160%;
        }
    }
    &-titling {
        margin-bottom: 50px;
        width: 100%;
        @media (max-width: 1180px) {
            margin-bottom: 20px;
        }
    }
    &-illstr {
        position: relative;
        margin-right: 110px;
        @media (max-width: 1180px) {
            margin-right: 0;
            margin-bottom: 65px;
        }
        @media (max-width: 630px) {
            margin: 0 auto 65px;
        }
        &__pen {
            position: absolute;
            right: 137px;
            bottom: -123px;
            @media (max-width: 1180px) {
                right: 69px;
                bottom: -61px;
                width: 119px;
                height: 90px;
            }
        }
        &__main {
            width: 580px;
            height: 226px;
            @media (max-width: 1180px) {
                width: 290px;
                height: 113px;
            }
        }
    }
    &-btn {
        width: 100%;
        margin-top: 60px;
        @media (max-width: 1180px) {
            margin-top: 0;
            margin-bottom: 35px;
        }
        @media (max-width: 630px) {
            display: flex;
            justify-content: center;
        }
    }
    &-links {
        @media (max-width: 1180px) {
            width: 100%;
            order: 2;
        }
        &__title {
            margin-bottom: 25px;
            font-weight: bold;
            font-size: rem(14);
            line-height: lh(16, 14);
            text-transform: uppercase;
            color: $black;
            @media (max-width: 630px) {
                margin-bottom: 20px;
                text-align: center;
            }
        }
        &-nav {
            max-width: 400px;
            @media (max-width: 630px) {
                max-width: 100%;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                @media (max-width: 630px) {
                    padding-left: 50px;
                }
            }
            &__item {
                width: 200px;
                margin-bottom: 18px;
                @media (max-width: 630px) {
                    width: 50%;
                }
                a {
                    font-size: rem(14);
                    text-decoration-line: underline;
                    color: $black;
                    &:hover {
                        color: $hblue;
                    }
                }
            }
        }
    }
}


/** styles for product page **/

.product {
    padding: 19px 0 40px;
    background: #F4F7FB;
    @media (max-width: 630px) {
        padding: 30px 0 110px;
        position: relative;
    }
    &-titling {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        &__main {
            margin-bottom: 15px;
            @media (max-width: 630px) {
                margin-bottom: 10px;
            }
        }
        &-btn {
            @media (max-width: 630px) {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 30px;
                white-space: nowrap;
            }
        }
    }
    &-text {
        p {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-how {
        padding: 45px 0 20px;
        background-color: $white;
        @media (max-width: 1180px) {
            padding: 32px 0;
        }
        @media (max-width: 630px) {
            padding: 32px 0 110px;
            position: relative;
        }
        .product-titling {
            margin-bottom: 30px;
            @media (max-width: 1180px) {
                margin-bottom: 20px;
            }
        }
        &-list {
            display: flex;
            @media (max-width: 1180px) {
                flex-wrap: wrap;
            }
            &__item {
                width: 25%;
                padding-right: 40px;
                @media (max-width: 1180px) {
                    width: 100%;
                    margin-bottom: 40px;
                    padding-right: 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                >img {
                    margin-bottom: 21px;
                }
                &-title {
                    margin-bottom: 5px;
                    font-size: rem(19);
                    line-height: lh(27, 19);
                    color: $black;
                    @media (max-width: 1180px) {
                        font-size: rem(18);
                    }
                }
                &-text {
                    font-size: rem(14);
                    line-height: lh(24, 14);
                    color: $tblack;
                    @media (max-width: 1180px) {
                        font-size: rem(13);
                    }
                }
            }
        }
    }
}


/** styles for page list **/

.page-list {
    display: flex;
    flex-direction: column;
    .list {
        flex-grow: 1;
    }
}